@import "tailwindcss";

@keyframes shrink {
    from{
        width: 20cqi;
    }
    to {
        width: 5cqi;
    }
}

@keyframes spin-border {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animated-border {
    position: absolute;
    inset: -2px;
    background: conic-gradient(
      from 0deg,
      #ec6826,
      #f68f3b,
      #f7984b,
      #f3a23e
    );
    animation: spin-border 2s linear infinite;
    opacity:0;
    transition: opacity 300ms ease;
    z-index: 0;
  }

  .group:hover .animated-border{
    opacity: 1;
  }